---
- name: Upgrade system
  block:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600
      retries: 5
      delay: 10
      register: apt_cache_update
      until: apt_cache_update is succeeded
    - name: Install aptitude
      apt:
        name: "aptitude"
        state: present
        update_cache: no
    - name: Upgrade system packages
      apt:
        upgrade: dist
        update_cache: no
    - name: Copy bashrc
      template:
        src: bashrc.j2
        dest: .bashrc
        mode: 0644
        backup: yes
    - name: Copy bash_aliases
      template:
        src: bash_aliases.j2
        dest: .bash_aliases
        mode: 0644
        backup: yes
    - name: Install helpful tools
      apt:
        name:
          - bash-completion
          - colorized-logs
        update_cache: no
    - name: Install python
      apt:
        name:
          - python3
          - python3-pip
          - python3-setuptools
        state: latest
        update_cache: no
    - name: Test alternatives
      command: update-alternatives --list python
      register: python_alternatives
      changed_when: False
      ignore_errors: yes
    - name: Install alternatives 2
      command:
        cmd: update-alternatives --install /usr/bin/python python /usr/bin/python2 1
      when: python_alternatives.stderr is search("no alternatives for python")
    - name: Install alternatives 3
      command:
        cmd: update-alternatives --install /usr/bin/python python /usr/bin/python3 2
      when: python_alternatives.stderr is search("no alternatives for python")
    - name: Install alternative
      command: 
        cmd: update-alternatives --install /usr/bin/python python /usr/bin/python3 2
      when: python_alternatives.stdout is not search("/usr/bin/python3")
    - name: Set default python version
      alternatives:
        name: python
        path: /usr/bin/python3
    - name: Remove dependencies that are no longer required
      apt:
        autoremove: yes
        update_cache: no
    - name: Create backup folder
      file:
        path: "/backup"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
  become: yes
  