version: '3.8'

services:
  paint2:
    image: registry.v-collaborate.com/dev/waxolunist/paint2:${PAINT2_BUILDID:-latest}
    container_name: paint2
    expose:
      - {{ paint2.port }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ paint2.domain }}
      - traefik.http.middlewares.paint2-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.paint2-secure.entrypoints=websecure
      - traefik.http.routers.paint2-secure.rule=Host(`{{ paint2.domain }}`)
      - traefik.http.routers.paint2-secure.tls=true
      - traefik.http.routers.paint2-secure.tls.certresolver=myresolver
      - traefik.http.routers.paint2.entrypoints=web
      - traefik.http.routers.paint2.middlewares=paint2-https-redirect
      - traefik.http.routers.paint2.rule=Host(`{{ paint2.domain }}`)
    networks:
      - proxy
  paint2dev:
    image: registry.v-collaborate.com/dev/waxolunist/paint2:${PAINT2DEV_BUILDID:-latest}
    container_name: paint2-dev
    expose:
      - {{ paint2dev.port }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ paint2dev.domain }}
      - traefik.http.middlewares.paint2dev-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.paint2dev-secure.entrypoints=websecure
      - traefik.http.routers.paint2dev-secure.rule=Host(`{{ paint2dev.domain }}`)
      - traefik.http.routers.paint2dev-secure.tls=true
      - traefik.http.routers.paint2dev-secure.tls.certresolver=myresolver
      - traefik.http.routers.paint2dev.entrypoints=web
      - traefik.http.routers.paint2dev.middlewares=paint2dev-https-redirect
      - traefik.http.routers.paint2dev.rule=Host(`{{ paint2dev.domain }}`)
    networks:
      - proxy

networks:
  proxy:
    name: web_proxy