version: '3.8'

services:
  registry:
    image: registry:2
    volumes:
      - "{{ docker.paths.work }}registry:/var/lib/registry"
      - "{{ docker.paths.configs }}registry/config.yml:/etc/docker/registry/config.yml:ro"
      - "{{ docker.paths.logs }}registry:/var/log/docker-registry"
      - "{{ docker.paths.configs }}registry/secrets:/secrets:ro"
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ registry.domain }}
      - traefik.http.middlewares.registry-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.registry-secure.entrypoints=websecure
      - traefik.http.routers.registry-secure.rule=Host(`{{ registry.domain }}`)
      - traefik.http.routers.registry-secure.tls=true
      - traefik.http.routers.registry-secure.tls.certresolver=myresolver
      - traefik.http.routers.registry.entrypoints=web
      - traefik.http.routers.registry.middlewares=registry-https-redirect
      - traefik.http.routers.registry.rule=Host(`{{ registry.domain }}`)
    environment:
      - TZ=Europa/Vienna
    restart: on-failure

  reverse-proxy:
    image: traefik:v2.11
    container_name: web_reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    expose:
      - 8080
    volumes:
      # So that Traefik can listen to the Docker events
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker.paths.configs }}traefik:/etc/traefik"
      - "{{ docker.paths.work }}traefik:/var/run/traefik"
      - "{{ docker.paths.logs }}traefik/:/var/log/traefik"
    environment:
      - TZ=Europa/Vienna
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.port=8080
      - traefik.docker.network=web_proxy
      - traefik.domain={{ traefik.domain }}
      - traefik.http.middlewares.proxy-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.proxy-secure.middlewares=auth@docker
      - traefik.http.routers.proxy-secure.entrypoints=websecure
      - traefik.http.routers.proxy-secure.rule=Host(`{{ traefik.domain }}`)
      - traefik.http.routers.proxy-secure.tls=true
      - traefik.http.routers.proxy-secure.tls.certresolver=myresolver
      - traefik.http.routers.proxy-secure.service=api@internal
      - traefik.http.routers.proxy.entrypoints=web
      - traefik.http.routers.proxy.middlewares=proxy-https-redirect
      - traefik.http.routers.proxy.rule=Host(`{{ traefik.domain }}`)
      - traefik.http.routers.mepage.rule=Host(`me.v-collaborate.com`, `christian.sterzl.info`)
      - traefik.http.routers.mepage.entrypoints=web
      - traefik.http.routers.mepage.middlewares=proxy-https-redirect
      - traefik.http.routers.mepage-secure.middlewares=me-redirectregex
      - traefik.http.routers.mepage-secure.entrypoints=websecure
      - traefik.http.routers.mepage-secure.rule=Host(`me.v-collaborate.com`, `christian.sterzl.info`)
      - traefik.http.routers.mepage-secure.tls=true
      - traefik.http.routers.mepage-secure.tls.certresolver=myresolver
      - traefik.http.middlewares.me-redirectregex.redirectregex.regex=^https://(me.v-collaborate.com|christian.sterzl.info)(/.*)?
      - traefik.http.middlewares.me-redirectregex.redirectregex.replacement=https://www.linkedin.com/in/christian-sterzl-59b282182/
    restart: on-failure

  prometheus:
    image: prom/prometheus:v2.50.0
    user: root
    container_name: web_prometheus
    expose:
      - 9090
    depends_on:
      - reverse-proxy
    volumes:
      - "{{ docker.paths.configs }}prometheus:/etc/prometheus"
      - "{{ docker.paths.data }}prometheus:/prometheus"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=100d'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    environment:
      - TZ=Europa/Vienna
    networks:
      - proxy
      - prometheus
    extra_hosts:
      docker.host: {{ docker_ip_address }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ prometheus.domain }}
      - traefik.http.middlewares.metrics-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.metrics-secure.entrypoints=websecure
      - traefik.http.routers.metrics-secure.rule=Host(`{{ prometheus.domain }}`)
      - traefik.http.routers.metrics-secure.tls=true
      - traefik.http.routers.metrics-secure.tls.certresolver=myresolver
      - traefik.http.routers.metrics-secure.middlewares=auth@docker
      - traefik.http.routers.metrics.entrypoints=web
      - traefik.http.routers.metrics.middlewares=metrics-https-redirect
      - traefik.http.routers.metrics.rule=Host(`{{ prometheus.domain }}`)
    restart: on-failure

  node-exporter:
    image: prom/node-exporter:v1.7.0
    container_name: web_node-exporter
    environment:
      - TZ=Europa/Vienna
    expose:
      - 9100
    labels:
      - traefik.enable=false
    depends_on:
      - prometheus
    networks:
      - prometheus
    restart: on-failure

  authelia:
    image: authelia/authelia:4
    container_name: authelia
    volumes:
      - "{{ docker.paths.configs }}authelia:/config:ro"
      - "{{ docker.paths.work }}authelia:/notifications"
      - "{{ docker.paths.data }}authelia/db.sqlite3:/var/db.sqlite3"
    depends_on:
      - reverse-proxy
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ authelia.domain }}
      - traefik.http.middlewares.auth-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.auth-secure.entrypoints=websecure
      - traefik.http.routers.auth-secure.rule=Host(`{{ authelia.domain }}`)
      - traefik.http.routers.auth-secure.tls=true
      - traefik.http.routers.auth-secure.tls.certresolver=myresolver
      - traefik.http.routers.auth.entrypoints=web
      - traefik.http.routers.auth.middlewares=auth-https-redirect
      - traefik.http.routers.auth.rule=Host(`{{ authelia.domain }}`)
      - traefik.http.middlewares.auth.forwardauth.address=http://authelia:{{ authelia.port }}/api/verify?rd=https://{{ authelia.domain }}
      - traefik.http.middlewares.auth.forwardauth.trustForwardHeader=true
      - traefik.http.middlewares.auth.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Redirect
    expose:
      - {{ authelia.port }}
    environment:
      - TZ=Europa/Vienna
    restart: on-failure

  grafana-pg:
    image: postgres:13-alpine
    container_name: grafana-pg
    networks:
      - grafana
    environment:
      - POSTGRES_PASSWORD={{ vault_grafana_pg_password }}
      - POSTGRES_USER={{ vault_grafana_pg_user }}
      - POSTGRES_DB=grafana
      - TZ=Europa/Vienna
    volumes:
      - "{{ docker.paths.data }}grafana/pgdata:/var/lib/postgresql/data"
    labels:
      - traefik.enable=false
    restart: on-failure

  grafana:
    image: grafana/grafana:10.3.3
    container_name: web_grafana
    volumes:
      - "{{ docker.paths.configs }}grafana:/etc/grafana:ro"
      - "{{ docker.paths.data }}grafana:/var/lib/grafana"
      - "{{ docker.paths.logs }}grafana:/var/log/grafana"
    expose:
      - 3000
    depends_on:
      - grafana-pg
      - prometheus
    links:
      - "grafana-pg:database"
    environment:
      - TZ=Europa/Vienna
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ grafana.domain }}
      - traefik.http.middlewares.grafana-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.grafana-secure.entrypoints=websecure
      - traefik.http.routers.grafana-secure.rule=Host(`{{ grafana.domain }}`)
      - traefik.http.routers.grafana-secure.tls=true
      - traefik.http.routers.grafana-secure.tls.certresolver=myresolver
      - traefik.http.routers.grafana-secure.middlewares=auth@docker
      - traefik.http.routers.grafana.entrypoints=web
      - traefik.http.routers.grafana.middlewares=grafana-https-redirect
      - traefik.http.routers.grafana.rule=Host(`{{ grafana.domain }}`)
    networks:
      - proxy
      - grafana
    restart: on-failure

  pgadmin:
    image: dpage/pgadmin4:8.3
    container_name: web_pgadmin
    links:
      - "grafana-pg:database-grafana"
      - "timescaledb:timescaledb"
    depends_on:
      - grafana-pg
    expose:
      - {{ pgadmin.port }}
    volumes:
      - "{{ docker.paths.data }}pgadmin:/var/lib/pgadmin"
    environment:
      - TZ=Europa/Vienna
      - PGADMIN_DEFAULT_EMAIL={{ vault_pgadmin_default_email }}
      - PGADMIN_DEFAULT_PASSWORD={{ vault_pgadming_default_password }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ pgadmin.domain }}
      - traefik.http.middlewares.pgadmin-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.pgadmin-secure.entrypoints=websecure
      - traefik.http.routers.pgadmin-secure.rule=Host(`{{ pgadmin.domain }}`)
      - traefik.http.routers.pgadmin-secure.tls=true
      - traefik.http.routers.pgadmin-secure.tls.certresolver=myresolver
      - traefik.http.routers.pgadmin.entrypoints=web
      - traefik.http.routers.pgadmin.middlewares=pgadmin-https-redirect
      - traefik.http.routers.pgadmin.rule=Host(`{{ pgadmin.domain }}`)
    networks:
      - proxy
      - grafana
      - pwas
      - scmatzen
    restart: on-failure

  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    environment:
      - EULA=TRUE
      - TZ=Europa/Vienna
      - ENABLE_ROLLING_LOGS=true
    ports:
      - {{ minecraft.port }}:{{ minecraft.port }}
    expose:
      - {{ minecraft.port }}
    volumes:
      - "{{ docker.paths.data }}minecraft:/data"
    healthcheck:
      test: mc-health
      start_period: 1m
      interval: 5s
      retries: 20
    restart: on-failure

  scmatzen-db:
    image: mysql:5.7
    container_name: scmatzen-db
    networks:
      - scmatzen
    environment:
      - MYSQL_PASSWORD={{ vault_scmatzen_db_password }}
      - MYSQL_USER={{ vault_scmatzen_db_user }}
      - MYSQL_DATABASE=scmatzen
      - MYSQL_ROOT_PASSWORD={{ vault_scmatzen_db_root_password }}
      - TZ=Europa/Vienna
    volumes:
      - "{{ docker.paths.data }}scmatzen/dbdata:/var/lib/mysql"
    labels:
      - traefik.enable=false
    restart: on-failure

  scmatzen:
    image: wordpress:6-php8.0-apache
    depends_on:
      - scmatzen-db
    volumes:
      - "{{ docker.paths.work }}scmatzen:/var/www/html"
    networks:
      - scmatzen
      - proxy
    environment:
      - WORDPRESS_DB_HOST=scmatzen-db
      - WORDPRESS_DB_USER={{ vault_scmatzen_db_user }}
      - WORDPRESS_DB_PASSWORD={{ vault_scmatzen_db_password }}
      - WORDPRESS_DB_NAME=scmatzen
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ scmatzen.domain }}
      - traefik.http.middlewares.scmatzen-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.scmatzen-secure.entrypoints=websecure
      - traefik.http.routers.scmatzen-secure.rule=Host(`{{ scmatzen.domain }}`, `scmatzen.shop`, `shop.scmatzen.at`)
      - traefik.http.routers.scmatzen-secure.tls=true
      - traefik.http.routers.scmatzen-secure.tls.certresolver=myresolver
      - traefik.http.routers.scmatzen.entrypoints=web
      - traefik.http.routers.scmatzen.middlewares=scmatzen-https-redirect
      - traefik.http.routers.scmatzen.rule=Host(`{{ scmatzen.domain }}`, `scmatzen.shop`, `shop.scmatzen.at`)
    restart: on-failure

  timescaledb:
    image: timescale/timescaledb:2.14.2-pg16
    container_name: web_timescaledb
    networks:
      - grafana
    environment:
      - POSTGRES_PASSWORD={{ vault_timescale_pg_password }}
      - POSTGRES_USER={{ vault_timescale_pg_user }}
      - POSTGRES_DB=timescale_home
      - TZ=Europa/Vienna
    ports:
      - "5432:5432"
    volumes:
      - "{{ docker.paths.data }}timescale/pgdata:/home/postgres/pgdata/data"
    labels:
      - traefik.enable=false
    restart: on-failure

networks:
  proxy:
  grafana:
  prometheus:
  pwas:
  scmatzen: