services:
  registry:
    image: registry:2
    volumes:
      - "{{ docker.paths.work }}registry:/var/lib/registry"
      - "{{ docker.paths.configs }}registry/config.yml:/etc/docker/registry/config.yml:ro"
      - "{{ docker.paths.logs }}registry:/var/log/docker-registry"
      - "{{ docker.paths.configs }}registry/secrets:/secrets:ro"
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ registry.domain }}
      - traefik.http.middlewares.registry-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.registry-secure.entrypoints=websecure
      - traefik.http.routers.registry-secure.rule=Host(`{{ registry.domain }}`)
      - traefik.http.routers.registry-secure.tls=true
      - traefik.http.routers.registry-secure.tls.certresolver=myresolver
      - traefik.http.routers.registry.entrypoints=web
      - traefik.http.routers.registry.middlewares=registry-https-redirect
      - traefik.http.routers.registry.rule=Host(`{{ registry.domain }}`)
    environment:
      - TZ=Europa/Vienna
    restart: on-failure

  reverse-proxy:
    image: traefik:v2.11
    container_name: web_reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    expose:
      - 8080
    volumes:
      # So that Traefik can listen to the Docker events
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ docker.paths.configs }}traefik:/etc/traefik"
      - "{{ docker.paths.work }}traefik:/var/run/traefik"
      - "{{ docker.paths.logs }}traefik/:/var/log/traefik"
    environment:
      - TZ=Europa/Vienna
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.port=8080
      - traefik.docker.network=web_proxy
      - traefik.domain={{ traefik.domain }}
      - traefik.http.middlewares.proxy-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.proxy-secure.middlewares=auth@docker
      - traefik.http.routers.proxy-secure.entrypoints=websecure
      - traefik.http.routers.proxy-secure.rule=Host(`{{ traefik.domain }}`)
      - traefik.http.routers.proxy-secure.tls=true
      - traefik.http.routers.proxy-secure.tls.certresolver=myresolver
      - traefik.http.routers.proxy-secure.service=api@internal
      - traefik.http.routers.proxy.entrypoints=web
      - traefik.http.routers.proxy.middlewares=proxy-https-redirect
      - traefik.http.routers.proxy.rule=Host(`{{ traefik.domain }}`)
      - traefik.http.routers.mepage.rule=Host(`me.v-collaborate.com`, `christian.sterzl.info`)
      - traefik.http.routers.mepage.entrypoints=web
      - traefik.http.routers.mepage.middlewares=proxy-https-redirect
      - traefik.http.routers.mepage-secure.middlewares=me-redirectregex
      - traefik.http.routers.mepage-secure.entrypoints=websecure
      - traefik.http.routers.mepage-secure.rule=Host(`me.v-collaborate.com`, `christian.sterzl.info`)
      - traefik.http.routers.mepage-secure.tls=true
      - traefik.http.routers.mepage-secure.tls.certresolver=myresolver
      - traefik.http.middlewares.me-redirectregex.redirectregex.regex=^https://(me.v-collaborate.com|christian.sterzl.info)(/.*)?
      - traefik.http.middlewares.me-redirectregex.redirectregex.replacement=https://www.linkedin.com/in/christian-sterzl-59b282182/
    restart: on-failure

  prometheus:
    image: prom/prometheus:v2.50.0
    user: root
    container_name: web_prometheus
    expose:
      - 9090
    depends_on:
      - reverse-proxy
    volumes:
      - "{{ docker.paths.configs }}prometheus:/etc/prometheus"
      - "{{ docker.paths.data }}prometheus:/prometheus"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=100d'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    environment:
      - TZ=Europa/Vienna
    networks:
      - proxy
      - prometheus
    extra_hosts:
      docker.host: {{ docker_ip_address }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ prometheus.domain }}
      - traefik.http.middlewares.metrics-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.metrics-secure.entrypoints=websecure
      - traefik.http.routers.metrics-secure.rule=Host(`{{ prometheus.domain }}`)
      - traefik.http.routers.metrics-secure.tls=true
      - traefik.http.routers.metrics-secure.tls.certresolver=myresolver
      - traefik.http.routers.metrics-secure.middlewares=auth@docker
      - traefik.http.routers.metrics.entrypoints=web
      - traefik.http.routers.metrics.middlewares=metrics-https-redirect
      - traefik.http.routers.metrics.rule=Host(`{{ prometheus.domain }}`)
    restart: on-failure

  node-exporter:
    image: prom/node-exporter:v1.7.0
    container_name: web_node-exporter
    environment:
      - TZ=Europa/Vienna
    expose:
      - 9100
    labels:
      - traefik.enable=false
    depends_on:
      - prometheus
    networks:
      - prometheus
    restart: on-failure

  authelia:
    image: authelia/authelia:4
    container_name: authelia
    volumes:
      - "{{ docker.paths.configs }}authelia:/config:ro"
      - "{{ docker.paths.work }}authelia:/notifications"
      - "{{ docker.paths.data }}authelia/db.sqlite3:/var/db.sqlite3"
    depends_on:
      - reverse-proxy
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ authelia.domain }}
      - traefik.http.middlewares.auth-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.auth-secure.entrypoints=websecure
      - traefik.http.routers.auth-secure.rule=Host(`{{ authelia.domain }}`)
      - traefik.http.routers.auth-secure.tls=true
      - traefik.http.routers.auth-secure.tls.certresolver=myresolver
      - traefik.http.routers.auth.entrypoints=web
      - traefik.http.routers.auth.middlewares=auth-https-redirect
      - traefik.http.routers.auth.rule=Host(`{{ authelia.domain }}`)
      - traefik.http.middlewares.auth.forwardauth.address=http://authelia:{{ authelia.port }}/api/verify?rd=https://{{ authelia.domain }}
      - traefik.http.middlewares.auth.forwardauth.trustForwardHeader=true
      - traefik.http.middlewares.auth.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Redirect
    expose:
      - {{ authelia.port }}
    environment:
      - TZ=Europa/Vienna
    restart: on-failure

  grafana-pg:
    image: postgres:13-alpine
    container_name: grafana-pg
    networks:
      - grafana
    environment:
      - POSTGRES_PASSWORD={{ vault_grafana_pg_password }}
      - POSTGRES_USER={{ vault_grafana_pg_user }}
      - POSTGRES_DB=grafana
      - TZ=Europa/Vienna
    volumes:
      - "{{ docker.paths.data }}grafana/pgdata:/var/lib/postgresql/data"
    labels:
      - traefik.enable=false
    restart: on-failure

  grafana:
    image: grafana/grafana:12.2
    container_name: web_grafana
    volumes:
      - "{{ docker.paths.configs }}grafana:/etc/grafana:ro"
      - "{{ docker.paths.data }}grafana:/var/lib/grafana"
      - "{{ docker.paths.logs }}grafana:/var/log/grafana"
    expose:
      - 3000
    depends_on:
      - grafana-pg
      - prometheus
    links:
      - "grafana-pg:database"
    environment:
      - TZ=Europa/Vienna
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ grafana.domain }}
      - traefik.http.middlewares.grafana-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.grafana-secure.entrypoints=websecure
      - traefik.http.routers.grafana-secure.rule=Host(`{{ grafana.domain }}`)
      - traefik.http.routers.grafana-secure.tls=true
      - traefik.http.routers.grafana-secure.tls.certresolver=myresolver
      - traefik.http.routers.grafana-secure.middlewares=auth@docker
      - traefik.http.routers.grafana.entrypoints=web
      - traefik.http.routers.grafana.middlewares=grafana-https-redirect
      - traefik.http.routers.grafana.rule=Host(`{{ grafana.domain }}`)
    networks:
      - proxy
      - grafana
    restart: on-failure

  pgadmin:
    image: dpage/pgadmin4:8.3
    container_name: web_pgadmin
    links:
      - "grafana-pg:database-grafana"
      - "timescaledb:timescaledb"
    depends_on:
      - grafana-pg
    expose:
      - {{ pgadmin.port }}
    volumes:
      - "{{ docker.paths.data }}pgadmin:/var/lib/pgadmin"
    environment:
      - TZ=Europa/Vienna
      - PGADMIN_DEFAULT_EMAIL={{ vault_pgadmin_default_email }}
      - PGADMIN_DEFAULT_PASSWORD={{ vault_pgadmin_default_password }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ pgadmin.domain }}
      - traefik.http.middlewares.pgadmin-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.pgadmin-secure.entrypoints=websecure
      - traefik.http.routers.pgadmin-secure.rule=Host(`{{ pgadmin.domain }}`)
      - traefik.http.routers.pgadmin-secure.tls=true
      - traefik.http.routers.pgadmin-secure.tls.certresolver=myresolver
      - traefik.http.routers.pgadmin.entrypoints=web
      - traefik.http.routers.pgadmin.middlewares=pgadmin-https-redirect
      - traefik.http.routers.pgadmin.rule=Host(`{{ pgadmin.domain }}`)
    networks:
      - proxy
      - grafana
    restart: on-failure

  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    environment:
      - EULA=TRUE
      - TZ=Europa/Vienna
      - ENABLE_ROLLING_LOGS=true
      - INIT_MEMORY=1G 
      - MAX_MEMORY=2G
    mem_limit: "2048M"
    ports:
      - {{ minecraft.port }}:{{ minecraft.port }}
    expose:
      - {{ minecraft.port }}
    volumes:
      - "{{ docker.paths.data }}minecraft:/data"
    healthcheck:
      test: mc-health
      start_period: 1m
      interval: 5s
      retries: 20
    restart: on-failure

  timescaledb:
    image: timescale/timescaledb-ha:pg16
    container_name: web_timescaledb
    networks:
      - grafana
    environment:
      - POSTGRES_PASSWORD={{ vault_timescale_pg_password }}
      - POSTGRES_USER={{ vault_timescale_pg_user }}
      - POSTGRES_DB=timescale_home
      - TZ=Europa/Vienna
    ports:
      - "5432:5432"
    volumes:
      - "{{ docker.paths.data }}timescale/pgdata:/home/postgres/pgdata/data"
    labels:
      - traefik.enable=false
    restart: on-failure

  photoprism-mariadb:
    image: mariadb:10.11
    container_name: photoprism-mariadb
    restart: unless-stopped
    stop_grace_period: 5s
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: mariadbd --innodb-buffer-pool-size=512M --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
    volumes:
      - "{{ docker.paths.data }}photoprism/database:/var/lib/mysql"
    environment:
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_INITDB_SKIP_TZINFO=1
      - MARIADB_DATABASE=photoprism
      - MARIADB_USER=photoprism
      - MARIADB_PASSWORD={{ vault_photoprism_db_password }}
      - MARIADB_ROOT_PASSWORD={{ vault_photoprism_db_root_password }}
      - TZ=Europa/Vienna
    networks:
      - photoprism
    labels:
      - traefik.enable=false

  photoprism:
    image: photoprism/photoprism:latest
    container_name: photoprism
    depends_on:
      - photoprism-mariadb
      - reverse-proxy
    restart: unless-stopped
    stop_grace_period: 10s
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    expose:
      - 2342
    environment:
      - PHOTOPRISM_ADMIN_USER=admin
      - PHOTOPRISM_ADMIN_PASSWORD={{ vault_photoprism_admin_password }}
      - PHOTOPRISM_AUTH_MODE=password
      - PHOTOPRISM_SITE_URL=https://{{ photoprism.domain }}/
      - PHOTOPRISM_DISABLE_TLS=false
      - PHOTOPRISM_DEFAULT_TLS=true
      - PHOTOPRISM_ORIGINALS_LIMIT=5000
      - PHOTOPRISM_HTTP_COMPRESSION=gzip
      - PHOTOPRISM_LOG_LEVEL=info
      - PHOTOPRISM_READONLY=false
      - PHOTOPRISM_EXPERIMENTAL=false
      - PHOTOPRISM_DISABLE_CHOWN=false
      - PHOTOPRISM_DISABLE_WEBDAV=false
      - PHOTOPRISM_DISABLE_SETTINGS=false
      - PHOTOPRISM_DISABLE_TENSORFLOW=false
      - PHOTOPRISM_DISABLE_FACES=false
      - PHOTOPRISM_DISABLE_CLASSIFICATION=false
      - PHOTOPRISM_DISABLE_VECTORS=false
      - PHOTOPRISM_DISABLE_RAW=false
      - PHOTOPRISM_RAW_PRESETS=false
      - PHOTOPRISM_JPEG_QUALITY=85
      - PHOTOPRISM_DETECT_NSFW=false
      - PHOTOPRISM_UPLOAD_NSFW=true
      - PHOTOPRISM_DATABASE_DRIVER=mysql
      - PHOTOPRISM_DATABASE_SERVER=photoprism-mariadb:3306
      - PHOTOPRISM_DATABASE_NAME=photoprism
      - PHOTOPRISM_DATABASE_USER=photoprism
      - PHOTOPRISM_DATABASE_PASSWORD={{ vault_photoprism_db_password }}
      - PHOTOPRISM_SITE_CAPTION=AI-Powered Photos App
      - PHOTOPRISM_SITE_DESCRIPTION=
      - PHOTOPRISM_SITE_AUTHOR=
      - TZ=Europa/Vienna
    user: "1000:1000"
    working_dir: "/photoprism"
    volumes:
      - "{{ docker.paths.work }}photoprism/originals:/photoprism/originals"
      - "{{ docker.paths.work }}photoprism/import:/photoprism/import"
      - "{{ docker.paths.data }}photoprism/storage:/photoprism/storage"
    networks:
      - proxy
      - photoprism
    labels:
      - traefik.enable=true
      - traefik.docker.network=web_proxy
      - traefik.domain={{ photoprism.domain }}
      - traefik.http.middlewares.photoprism-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.photoprism-secure.entrypoints=websecure
      - traefik.http.routers.photoprism-secure.rule=Host(`{{ photoprism.domain }}`)
      - traefik.http.routers.photoprism-secure.tls=true
      - traefik.http.routers.photoprism-secure.tls.certresolver=myresolver
      - traefik.http.routers.photoprism.entrypoints=web
      - traefik.http.routers.photoprism.middlewares=photoprism-https-redirect
      - traefik.http.routers.photoprism.rule=Host(`{{ photoprism.domain }}`)

networks:
  proxy:
    name: web_proxy
  grafana:
  prometheus:
  photoprism: