version: 0.1
log:
  level: debug
  formatter: json
  fields:
    service: registry
storage:
  filesystem:
    rootdirectory: /var/lib/registry
http:
  addr: 0.0.0.0:{{ registry.port }}
  host: https://{{ registry.domain }}
  relativeurls: false
  secret: {{ vault_registry_http_secret }}
  debug:
    addr: 0.0.0.0:5001
    prometheus:    
      enabled: true
      path: /metrics