---
  web_containers:
    - traefik
    - prometheus
    - registry
    - portus
    - authelia
    - loki
    - grafana
    - pgadmin
    - minecraft
    - timescale
  portus:
    domain: "portus.{{ topleveldomain }}"
  registry:
    domain: "registry.{{ topleveldomain }}"
    port: 5000
  prometheus:
    domain: "metrics.{{ topleveldomain }}"
  authelia:
    domain: "auth.{{ topleveldomain }}"
    port: 9091
  traefik:
    domain: "proxy.{{ topleveldomain }}"
  grafana:
    domain: "graph.{{ topleveldomain }}"
  pgadmin:
    domain: "pgadmin.{{ topleveldomain }}"
    port: 5050
  loki:
    domain: "logs.{{ topleveldomain }}"
  minecraft:
    port: 25565

  restart_container: no