###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# List of users
users:
  christian.sterzl:
    displayname: "Christian Sterzl"
    password: "$6$rounds=50000$QzlYcmRaL0JhZm9q$Zgc4XyAbbKUU/3F2MMwzdA7XaNGwfujhAHfN5K7lwYD4zcbcM4GRJVi0ud/8vwm7lXE8rUGUPdZlDBudgDZme."
    email: christian.sterzl@gmail.com
    groups:
      - admins
      - dev